@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.downArrow {
  @include bounce;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100;

  &__image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 2px 0 rgba(182, 25, 140, 0.8);
      transform: scale(1.05);
      transition: all 0.3s;
    }
  }
}
