@import 'variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin breakpoint($size) {
  $my-map: map-get($breakpoints, $size);
  @if $my-map {
    @media screen and (#{$my-map}) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint';
  }
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
