// Description: Variables for the project

// Colors
$primary-color: #f9572a;
$secondary-color: #ffc905;
$tertiary-color: #262626;
$background-color: #f5f5f5;
$font-color: #262626;
$font-color-light: #ddd8d8;

// Font
$font-family: 'Roboto', sans-serif;

//breakpoints
$breakpoints: (
  'xs': 'max-width: 575px',
  'sm': '(min-width: 576px)',
  'md': '(min-width: 768px)',
  'lg': '(min-width: 992px)',
  'xl': 'min-width: 1200px',
);

//z-index
$z-index: (
  'header': 100,
  'modal': 200,
  'backdrop': 300,
  'drawer': 400,
  'notification': 500,
  'tooltip': 600,
);
